html, body {
    width: 100%; height: 100%; margin: 0; padding: 0; overflow: hidden;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

#cesiumContainer {
    position: absolute;
    width: calc(100% - 30px);
    top: 30px;
    height: calc(100% - 30px);
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#menu-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    background: #34475a;
    -webkit-app-region: drag;
}

#menu-bar > div {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menubar-btn {
    -webkit-app-region: no-drag;
}

.container {
    height: calc(100vh - 30px);
    background: #34475ab0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

#menu-bar > .right > button {
    height: 100%;
    padding: 0 15px;
    border: none;
    background: transparent;
    outline: none;
}

#menu-bar > .left > button {
    height: 100%;
    padding: 0 15px;
    border: none;
    background: transparent;
    outline: none;
}

button:hover {
    background: rgba(221, 221, 221, 0.2);
}

#close-btn:hover {
    background: rgb(255, 0, 0);
}

button i {
    color: white;
}

/*sidebar*/

.cesium-viewer-toolbar{
    right: 35px !important;
}

.cesium-viewer-fullscreenContainer {
    right: 33px !important;
}

[class^="gwicon-"]:before,
[class*=" gwicon-"]:before,
body [class^="gwicon-"]:before,
body [class*=" gwicon-"]:before {
    font-family: "gw3icons" !important;
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

@font-face {
    font-family: 'gw3icons';
    src: url('font/gw3icons.eot?55486639');
    src: url('font/gw3icons.eot?55486639#iefix') format('embedded-opentype'), url('font/gw3icons.woff2?55486639') format('woff2'), url('font/gw3icons.woff?55486639') format('woff'), url('/font/gw3icons.ttf?55486639') format('truetype'), url('font/gw3icons.svg?55486639#gw3icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

#side-menu-bar-wrapper {
    position: absolute;
    right: 0;
    top: 30px;
    bottom: 0;
}

.bst4-wrapper #navbar-right {
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    padding: 0 !important;
}

.bst4-wrapper #navbar-right>span {
    font-size: 9px;
    letter-spacing: 0.18em;
    color: var(--grey);
    text-transform: uppercase;
    display: block;
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid var(--lightGrey);
}

.bst4-wrapper #navbar-right .nav,
.bst4-wrapper #navbar-right .nav-item {
    margin: 0 !important;
    text-align: center;
}

/*
navbar buttons
*/

.bst4-wrapper #navbar-right {
    width: 50px;
}

.bst4-wrapper #navbar-right .nav-item .btn {
    width: 46px;
    height: 46px;
    line-height: 46px;
    font-size: 20px;
    color: #777;
    padding: 0;
    border: 0 none;
    border-radius: 5px;
}

.bst4-wrapper #navbar-right .nav-item {
    margin-top: 10px !important;
}

.bst4-wrapper #navbar-right .nav-item.active .btn {
    color: var(--blue);
    background: #FFF;
}

.bst4-wrapper #navbar-right .nav-item .btn:hover {
    background-color: var(--blue);
    color: #FFF;
}

.upload-speed,
.upload-timing {
    display: block;
    color: #777;
    font-style: italic;
    margin: 5px 0;
}

.gwicon-gear:before {
    content: '\ea09';
}

/**
popups
 */

.popup-wrapper {
    right: 50px;
    position: absolute;
    background: transparent;
    bottom: 0;
    top: 0;
    font-size: 13px;
}

.popup-title {
    padding: 15px 20px;
    margin: 0;
    font-size: 26px;
    text-align: left;
}

.content-wrapper {
    padding: 0 20px 20px 20px;
    overflow-y: auto;
    text-align: left;
    width: 300px;
    height: calc(100% - 60px);
}

.popup-content {
    position: relative;
    background-color: white;
    padding: 0;
    margin: auto;
    opacity: 0.95;
    /*border: 1px solid #aaa;*/
    /*border-radius: 5px;*/
    height: 100%;
    -webkit-animation-name: animateRight;
    -webkit-animation-duration: 0.4s;
    animation-name: animateRight;
    animation-duration: 0.4s;
    transition: .2s opacity ease;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.popup-content:hover {
    opacity: 1;
}

@-webkit-keyframes animateRight {
    from {
        right: -10px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 0.95
    }
}

@keyframes animateRight {
    from {
        right: -10px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 0.95
    }
}

.close-btn {
    color: lightgray;
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 20px;
    line-height: 1;
}

.close-btn:hover {
    cursor: pointer;
    color: darkgray;
}
